body {
    --cell-border-color: lightgray;
    --window-background-color: #ededf5;
    --card-color: white;
    --background-color: #e9e9f3;
    --top-bar-color: #eff0f5;
    --delineter-color: #f3f3f3;
    --accent-light-color: #e2eafd;
    --accent-dark-color: #839bff;
    --text-color: rgb(26, 26, 26);
    --shadow-color: #00000036
}

body.dark {
    --card-color: #232136;
    --top-bar-color: #171624;
    --background-color: #12121e;
    --delineter-color: #2b2c40;

    --accent-light-color: #001f69;
    --accent-dark-color: #b3c2ff;

    --text-color: rgb(231, 231, 231);
    --shadow-color: #ffffff36
}

body.xuesos {
    --card-color: #2463ff;
    --top-bar-color: #2f6cff;
    --background-color: #e1eaff;
    --delineter-color: #393f4f;
    --accent-light-color: #1741a9;
    --accent-dark-color: #7baaff;
    --text-color: rgb(8 29 56);
    --shadow-color: #ffffff36;
}

body.sf-logo {
    --cell-border-color: lightgray;
    --window-background-color: #ededf5;
    --card-color: #69A08D;
    --background-color: #E3E1F3;
    --top-bar-color: #eff0f5;
    --delineter-color: #7F6CA3;
    --accent-light-color: #8E82B4;
    --accent-dark-color: #35383D;
    --text-color: rgb(26, 26, 26);
    --shadow-color: #00000036;
}

body.sf-top {
    --cell-border-color: lightgray;
    --window-background-color: #4D484F;
    --card-color: #4D484F;
    --background-color: #ffffff;
    --top-bar-color: #CDCBD0;
    --delineter-color: #7F6CA3;
    --accent-light-color: #CA97E6;
    --accent-dark-color: #8644B8;
    --text-color: #362F37;
    --shadow-color: #00000036;
}

* {
    font-size: 11px;
}

@media (orientation: portrait) {
    * {
        font-size: xx-large;
    }
}

.dark a:link {
    color: var(--accent-dark-color);
}

.dark a:visited {
    color: #d6b3ff;
}

body,
html {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: system-ui;
}

tr {
    margin: 7px 5px;
    border: 1px solid var(--delineter-color);
    border-width: 1px 0;
}

td {
    padding: 5px 15px;
}

td button {
    margin: 5px;
}

thead {
    position: sticky;
    top: -1px;
    height: 40px;
}

th {
    background-color: var(--top-bar-color);
    cursor: pointer;
    height: 10vh;
}

th:hover {
    background-color: var(--card-color);
}

table {
    border-collapse: collapse;
    color: var(--text-color);
}

.table-warapper {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    width: 100%;
    overflow-y: scroll;
    /*background-color: var(--card-color);
     margin: 20px; 
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px var(--shadow-color);*/
}

.card {
    overflow: hidden;
    background-color: var(--card-color);
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px var(--shadow-color);
}

.win-body {
    padding: 14px 12px;
    overflow: auto;
    max-height: 500px;
}

.window {
    background: var(--card-color);
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    border: 1px solid black;
    border-radius: 7px;
    max-width: 300px;
    word-wrap: break-word;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.win-close-button {
    margin: 12px auto;
    display: block;
}

button:hover {
    background-color: var(--accent-light-color);
    box-shadow: 0px 1px 2px 1px var(--shadow-color);
}

button {
    background-color: var(--accent-light-color);
    color: var(--accent-dark-color);
    border: none;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
    transition-duration: 300ms;
}


button.selected {
    border: 2px solid var(--accent-dark-color);
}

.toolbar {
    display: flex;
    padding: 15px 30px;
    gap: 15px;
    border-bottom: 1px solid var(--accent-dark-color);
    align-items: center;
    overflow: auto;
}

input {
    background-color: var(--accent-light-color);
    border: 1px solid var(--accent-dark-color);
    color: var(--text-color);
    padding: 10px;
}